@import url('../../style/index');
.all-wrap{
  height: 100vh;
  .list-container{
  //  height: 100%;
  //  overflow-y: auto;
    .item{
      .font-c(17px,#666);
      padding: 5px;
      text-align: center;
      border-bottom: .5px solid #efefef;
    }
  }
}